---
// Base Layout
import Base from "../layouts/Base.astro";
// Components
import CTA from "../components/CTA.astro";
import EventInfo from "../components/EventInfo.astro";
import Footer from "../components/Footer.astro";
import Gallery from "../components/Gallery.astro";
import Hero from "../components/Hero.astro";
import Info from "../components/Info.astro";
import PersonalStatement from "../components/PersonalStatement.astro";
import Press from "../components/Press.astro";
import Questions from "../components/Questions.astro";
import Testimonials from "../components/Testimonials.astro";
import VideoFeature from "../components/VideoFeature.astro";
// Data
import {
  cta,
  eventInfo,
  gallery,
  hero,
  info,
  personalStatments,
  press,
  videoFeature,
} from "../data/train-with-the-masters.json";
---

<Base pageTitle="Train with the Masters" />

<!-- Hero Area -->
<Hero hero={hero} eventInfo={eventInfo} />
<!-- Info Area -->
<Info info={info} />
<!-- CTA Area 1 -->
<section class="cta-area__one">
  <EventInfo eventInfo={eventInfo} />

  <CTA cta={cta} />
</section>

<!-- Personal Statments -->
<PersonalStatement personalStatements={personalStatments.edward} />

<div class="divider"></div>

<PersonalStatement personalStatements={personalStatments.laara} />

<!-- CTA Area 2 -->
<section class="cta-area__two">
  <CTA cta={cta} />

  <!-- Video Feature Area -->
  <VideoFeature videoFeature={videoFeature} />
</section>

<!-- Press Area -->
<Press press={press} />

<!-- Gallery Area -->
<Gallery gallery={gallery} />

<!-- CTA Area 3 -->
<div class="cta-area__three">
  <CTA cta={cta} />
</div>

<!-- Testimonails Area -->
<Testimonials heading="Watch Our Amazing Testimonials!" />

<!-- Questions Area -->
<Questions
  heading="Have specific questions? Talk to one of our workshop specialists!"
/>

<Footer />

<style>
  .cta-area__one {
    @apply m-8 flex flex-col place-content-center gap-10 py-3 align-middle lg:flex-row;
  }
  .cta-area__two {
    @apply mx-8 mt-3 mb-6 flex flex-col place-content-center gap-10 py-3 align-middle lg:flex-row;
  }
  .cta-area__three {
    @apply m-auto w-[clamp(75%,80%,77%)];
  }
  .personal-statement-separator {
    @apply my-2 border-4;
  }
</style>
