---
const { info, featureOne, featureTwo, featureThree, featureFour, featureFive } =
  Astro.props.info;
---

<section class="info-area">
  <div class="info-area__content">
    <h3>
      {info}
    </h3>
    <ul class="ml-6 list-inside">
      <li>{featureOne}</li>
      <li>{featureTwo}</li>
      <li>{featureThree}</li>
      <li>{featureFour}</li>
    </ul>
    <div class="mb-6 text-center font-mono text-3xl font-bold">
      THIS IS A WORKSHOP YOU WON’T WANT TO MISS!
    </div>
  </div>
</section>
<section class="info-area__offer">
  <div class="info-area__offer__content">
    <span class="block text-xl font-bold">– SPECIAL VIP ACCESS –</span>
    FIRST 10 PEOPLE TO SIGN UP FOR ‘HANDS-ON’ GET THE OPPORTUNITY TO PARTICIPATE
    IN SEPTEMBER FASHION WEEK WITH EDWARD TRICOMI & LAARA RAYNIER AND ENJOY COCKTAILS
    WITH US AFTER THIS EVENT
  </div>
</section>

<style>
  .info-area {
    @apply px-8 pt-10 lg:pt-8;
  }
  .info-area__content {
    @apply container mx-auto max-w-5xl;
  }
  .info-area__content h3 {
    @apply text-center text-2xl font-bold;
  }
  .info-area__content ul {
    @apply prose-base list-disc lg:prose-lg;
  }
  .info-area__offer {
    @apply w-full bg-secondary py-4;
  }
  .info-area__offer .info-area__offer__content {
    @apply mx-auto w-8/12 text-center text-lg font-medium text-secondary-content;
  }
</style>
